.container{
    padding: 15px;
}

table {
    width: 100%;
}

.filter{
    width: 30%;
    min-width: 150px;
}

.header-container{
    justify-content: space-between;
    width: 100%;
    display: flex;
}