.filler {
    flex: 1 1 auto;
  }

.active-link{
    color: #3F51B5 !important; /* Note: You could also use a custom theme */
}

.love{
    position: absolute;
    bottom: 0px;
    left: 10px;
}


.sidenav-container {
    height: 100vh;
  .sidenav {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .sidenav .home-button {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 30px;
    display: inline-block;
    a{
        text-decoration: none;
    }
    span{
        line-height: 60px;
        vertical-align: top;
        height: 50px;
        display: inline-block;
    }
  }
  .sidenav .home-button .app-logo {
    width: 50px;
    display: inline-block;
  }
  .sidenav .mat-toolbar {
    background: inherit;
  }
  .sidenav .navigation-list {
    padding-top: 30px;
  }
  .sidenav .navigation-list .navigation-item.active {
    background: #dcf0fb;
    color: #062639;
  }
  .sidenav .navigation-list .navigation-item .mat-icon {
    margin-right: 5px;
  }
  .sidenav .navigation-list .navigation-item .navigation-item-label {
    padding-top: 2px;
  }
  .sidenav .navigation-list .navigation-divider {
    color: #dcf0fb;
    border-color: #dcf0fb;
  }
  .sidenav-content{
    margin-left: 60px;
    .sidenav-content-toolbar {
        background: #062639;
        color: #fff;
        padding-left: 15px;
    }
  }
  .sidenav-content .sidenav-content-toolbar .menu-button {
    color: #fff;
    background: #062639;
  }
  .sidenav-content .sidenav-content-toolbar .menu-button:focus {
    outline: none;
  }
  .sidenav-content .sidenav-content-toolbar .navbar-link {
    color: #fff;
    padding-right: 10px;
    cursor: pointer;
  }
  .sidenav-content .sidenav-content-toolbar .navbar-link:hover {
    color: #fff;
  }
  .sidenav-content .sidenav-content-toolbar .navbar-link:focus {
    outline: none;
  }
  .sidenav-content .sidenav-content-toolbar .gifts a {
    color: #fff;
    display: inline-block;
    padding-top: 7px;
    padding-right: 20px;
    position: relative;
  }
  .sidenav-content .sidenav-content-toolbar .gifts a .mat-badge-content {
    background: #d3544d;
  }
  .sidenav-content .sidenav-content-toolbar .gifts:focus {
    outline: none;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
  /*left sidenav style override*/
  mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 60px !important;
    overflow: hidden;
  }
  mat-sidenav:not(.mat-drawer-opened) {

    .navigation-item-label, .home-button, .love {
        display: none !important;
    }
}